<HTML>
<TITLE>About & FAQ</TITLE>

<script language="javascript" src="static/scripts/HEADER.js"></script>

<body style="background-color:lightBlue;">


<TABLE WIDTH=\"80%\" CELLPADDING="10" CELLSPACING="10" ALIGN="CENTER">
	<TR>
	<TD><IMG SRC="static\images\AboutUs.jpg" WIDTH="512" HEIGHT="233"/>
	</TD></TR>
</TABLE>


<DIV ALIGN="CENTER">

<TABLE WIDTH="75%" style="border-collapse: collapse" bordercolor="#ff0000" cellpadding="0" cellspacing="0">
  <TR>
    <td width="100%">
    <UL>
      <li><B>About Us</B></li>
    </UL>
    <p style="margin-left: 50"> We strive to provide the best place to purchase online clothes for your needs.</P>
    </p>
    <UL>
      <li><a href="faq.html">FAQ</a></br></li>
    </UL>
    </td>
  </TR>
</table>

</div>

</body>

<script language="javascript" src="static/scripts/footer.js"></script>

</HTML>