<html>
<head>
<title>Contact Page</title>
</head>
<body style="background-color:lightBlue;">
<script language="javascript" src="HEADER.js"></script>
<BR>
<TABLE  cellpadding ="1" ALIGN="center">
<div align="center">
    <img style="width: 768px; height: 268px;"
	src="static\images\ContactUS.png"></td>
	
	<img style="width: 768px; height: 268px;"
	src="static\images\ContactWays.png"></td>
</table>
<BR>
<div align="center">
  <tr>
    <td width="100%">
    <b>For any immediate concerns text or e-mail us below.</b><ul>
      <li>Michael Taveras - P#: 813-555-3960 E-Mail:
		<a href="mailto:michaeltaver@usf.edu">
			michaeltaver@usf.edu
		</a></li>
      <li>Raquel Pereda - P#: 813-555-3960 E-Mail:
		<a href="mailto:RaquelPereda@usf.edu">
			RaquelPereda@usf.edu
		</a><BR/>
		<li>Joseph Shatti - P#: 813-555-3960 E-Mail:
		<a href="mailto:JosephShatti@usf.edu">
			JosephShatti@usf.edu
			</a></li>
     </li>
    </ul>
    </td>
  </tr>
</div>
</body>
<script language="javascript" src="footer.js"></script>
</html>