<HTML>
    <Title>Cart</Title>
    <script language="javascript" src="static/scripts/HEADER.js"></script>
    <script src="static/scripts/CART.js" async></script>
    
    <BODY style="background-color:#F7F7F7;">
    
    <CENTER><H1>My Cart</H1></CENTER>
    <CENTER><H3>Click "Next" to check out.</H3></CENTER>

    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
    </div>

</BODY>
<script language="javascript" src="static/scripts/footer.js"></script>
</HTML>
