<HTML>
    <Title>Cart</Title>
    <script language="javascript" src="static/scripts/HEADER.js"></script>
    <script src="static/scripts/CART.js" async></script>
    
    <BODY style="background-color:#F7F7F7;">
    
    <CENTER><H1>My Cart</H1></CENTER>
    <CENTER><H3>Click "Next" to check out.</H3></CENTER>

    <CENTER>
    <table style="width:50%">
        <tr>
            <th class="cart-item cart-header cart-column">ITEM</th>
            <th class="cart-price cart-header cart-column">PRICE</th>
            <th class="cart-quantity cart-header cart-column">QUANTITY</th>
            <th></th>
        </tr>
        {% for result_element in result %}
        <tr>
            <td>{{result_element.clname}}</td>
            <td>$ {{result_element.price}}</td>
            <td>{{result_element.qty}}</td>
            <td><INPUT NAME="item" TYPE="checkbox" VALUE={{result_element}} checked></td>
        <tr>
        {% endfor %}
        {% block content %}{%endblock%}        
    </table>
    <button><a href="/checkout">Check out</a></button>
    </CENTER>

</BODY>
<script language="javascript" src="static/scripts/footer.js"></script>
</HTML>
