<HTML>
    <Title>Search Results</Title>
    <script language="javascript" src="static/scripts/HEADER.js"></script>
    
    
    <BODY style="background-color:#F7F7F7;">
    
    <CENTER><H1>Checkout</H1></CENTER>
    <form action="#" method="post">
    <div class="container">
        <label for="cardnum"><b>Card Number</b></label>
        <input type="text" placeholder="Enter Card Number" name="cardNum" required>
    
        <button type="submit">CheckOut</button>
        <label>
    </div>
    </form>
    

<BR/>
<BR/>
<BR/>
<BR/>    
</BODY>
<script language="javascript" src="static/scripts/footer.js"></script>
</HTML>
