<HTML>
    <Title>Search Results</Title>
    <script language="javascript" src="static/scripts/HEADER.js"></script>
    
    <BODY style="background-color:#F7F7F7;">
    
    <CENTER><H1>Search Results</H1></CENTER>
    <CENTER><H3>From your search, we found all these clothes:</H3></CENTER>

    <FORM NAME=SearchResults ACTION="#" METHOD=POST>
        <div class="shop-items">
            {% for result_element in result %}
            <div class="shop-item">
                <!--H3>{{result_element}}</H3-->
                <span class="item-title">{{result_element}}</span>
                <button class="item-button" type="button">ADD TO CART</button>
            </div>
           {% endfor %}
          {% block content %}{% endblock %}
        </div>
    </form>
    <p style=font-size:20px><a href="/cart">Continue to cart.</a> </p>

</BODY>
<script language="javascript" src="static/scripts/footer.js"></script>
</HTML>
    