<HTML>
<TITLE>Login Page</TITLE>

<script language="javascript" src="static/scripts/HEADER.js"></script>

<body>
  <div class="container">
    {% with messages = get_flashed_messages() %}
     {% if messages %}
       {% for message in messages %}
       <div class="flashed_message" role="alert">
       <button type="button" class="close" data-dismiss="alert" aria- label="Close"><span aria-hidden="true">×</span></button>
       {{message}}
       </div>
     {% endfor %}
     {% endif %}
   {% endwith %}
    {% block content %}{% endblock %}
</body>


<body style="background-color:#F7F7F7;" ALIGN="CENTER">
<form action="#" method="post">
  <div class="imgcontainer">
    <img src="static\images\login.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="email"><b>Email Address</b></label>
    <input type="text" placeholder="Enter Email Address" name="email" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container">
   <!--- <button type="button" class="cancelbtn">Cancel</button> -->
    <!---<span class="psw">Forgot <a href="#">password?</a></span>-->
  </div>
</form>

</body>

<script language="javascript" src="static/scripts/footer.js"></script>

</HTML>