<HTML>
    <Title>Search Results</Title>
    <script language="javascript" src="static/scripts/HEADER.js"></script>

    
    <BODY style="background-color:#F7F7F7;">
    
    <CENTER><H1>Search Results</H1></CENTER>
    <CENTER><H3>From your search, we found all these clothes:</H3></CENTER>

    <FORM NAME=SearchResults ACTION="#" METHOD=POST>
        <!-- <div class="shop-items"> -->
            <CENTER>
            <table style="width:50%">
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                {% for result_element in result %}
                <tr>
                    <td>{{result_element[1]}}</td>
                    <td>$ {{result_element[5]}}</td>
                    <td>ADD<INPUT NAME="item" TYPE="Checkbox" VALUE={{result_element}}></td>
                </tr>
                {% endfor %}
                {% block content %}{% endblock %}
            </table>
            </CENTER>
        <CENTER><INPUT TYPE="submit" NAME="Add to Cart" VALUE="Continue to checkout"></CENTER>
    </form>
    <!-- <p style=font-size:20px><a href="/cart">Continue to cart.</a> </p> -->

</BODY>
<script language="javascript" src="static/scripts/footer.js"></script>
</HTML>
    