<HTML>
    <Title>Checkout</Title>
    <script language="javascript" src="static/scripts/HEADER.js"></script>
    
    
    <BODY style="background-color:#F7F7F7;">
    
    <CENTER><H1>Checkout</H1></CENTER>
	    <CENTER><H3>Click "Checkout" to order.</H3></CENTER>
    <div class="container">
        <label for="cardnum"><b>Card Number</b></label>
        <input type="text" placeholder="Enter Card Number" name="cardNum" required>
    
		<form method="get" action="/done">
			<button type="submit">CheckOut</button>
		</form>
        <label>
    </div>
    

<BR/>
<BR/>
<BR/>
<BR/>    
</BODY>
<script language="javascript" src="static/scripts/footer.js"></script>
</HTML>
