<HTML>
<TITLE>CS Home Page</TITLE>
<script language="javascript" src="static/scripts/HEADER.js"></script>
<BODY style="background-color:#F7F7F7;">
<div align="center">
<center><H1 ><span style="color: #000000;">Database  <span style="color: #000000;">Fashion</H1></center>
<TABLE width="90%" CELLPADDING="5" CELLSPACING="4">
  <tr>
    <td width="100%" valign="top">
<center><H3 >Welcome to Database Fashion. The best online option for buying clothes. </H3></center>
<p style=font-size:20px><a href="/login">LOGIN HERE</a> or <a href="/createAccount">CREATE ACCOUNT</a>.  &nbsp;We also allow you to continue as a Guest if you do not wish to create an account.</p>


 <table border='1'  bordercolor='#f00040' cellspacing='0' cellpadding='0' align=center>
<tr><td><table cellspacing='0' cellpadding='0' align=center width='100' border='1'><tr><td  align=center bgcolor='#f00040'><font size='3' face='Arial'></font> </td><td colspan=5 align=center bgcolor='#f00040'><font size='3' face='Arial'><strong>May 2021 </font> </td><td  align=center bgcolor='#f00040'><font size='3' face='Arial'> <a </font></td></tr><tr><td><font size='3' face='Arial'><b>Sun</b></font></td><td><font size='3' face='Arial'><b>Mon</b></font></td><td><font size='3' face='Arial'><b>Tue</b></font></td><td><font size='3' face='Arial'><b>Wed</b></font></td><td><font size='3' face='Arial'><b>Thu</b></font></td><td><font size='3' face='Arial'><b>Fri</b></font></td><td><font size='3' face='Arial'><b>Sat</b></font></td></tr><tr><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td valign=top><font size='2' face='Arial'>1  
<br></font></td></tr><tr><td valign=top><font size='2' face='Arial'>2
<br> </font></td><td valign=top><font size='2' face='Arial'>3  
<br> </font></td><td valign=top><font size='2' face='Arial'>4  
<br> </font></td><td valign=top><font size='2' face='Arial'>5  
<br> </font></td><td valign=top><font size='2' face='Arial'>6  
<br> </font></td><td valign=top><font size='2' face='Arial'>7  
<br> </font></td><td valign=top><font size='2' face='Arial'>8  
<br> </font></td></tr><tr><td valign=top><font size='2' face='Arial'>9  
<br> </font></td><td valign=top><font size='2' face='Arial'>10  
<br> </font></td><td valign=top><font size='2' face='Arial'>11  
<br> </font></td><td valign=top><font size='2' face='Arial'>12  
<br> </font></td><td valign=top><font size='2' face='Arial'>13  
<br> </font></td><td valign=top><font size='2' face='Arial'>14  
<br> </font></td><td valign=top><font size='2' face='Arial'>15  
<br> </font></td></tr><tr><td valign=top><font size='2' face='Arial'>16  
<br> </font></td><td valign=top><font size='2' face='Arial'>17  
<br> </font></td><td valign=top><font size='2' face='Arial'>18  
<br> </font></td><td valign=top><font size='2' face='Arial'>19  
<br> </font></td><td valign=top><font size='2' face='Arial'>20  
<br> </font></td><td valign=top><font size='2' face='Arial'>21  
<br> </font></td><td valign=top><font size='2' face='Arial'>22  
<br> </font></td></tr><tr><td valign=top><font size='2' face='Arial'>23  
<br> </font></td><td valign=top><font size='2' face='Arial'>24  
<br> </font></td><td valign=top><font size='2' face='Arial'>25  
<br> </font></td><td valign=top><font size='2' face='Arial'>26  
<br> </font></td><td valign=top><font size='2' face='Arial'>27  
<br> </font></td><td valign=top><font size='2' face='Arial'>28  
<br> </font></td><td valign=top><font size='2' face='Arial'>29  
<br> </font></td></tr><tr><td valign=top><font size='2' face='Arial'>30  
<br> </font></td><td valign=top><font size='2' face='Arial'>31  
<br> </font></td></tr></table></td></tr></table>

  </tr>
</table>
    </td>  
    <img style="width: 1000px; height: 600px;"
	src="static/images/Clothing.png"></td>
</div>
</BODY>
<body>
  <div class="container">
    {% with messages = get_flashed_messages() %}
     {% if messages %}
       {% for message in messages %}
       <div class="flashed_message" role="alert">
       <button type="button" class="close" data-dismiss="alert" aria- label="Close"><span aria-hidden="true">×</span></button>
       {{message}}
       </div>
     {% endfor %}
     {% endif %}
   {% endwith %}
    {% block content %}{% endblock %}
<script language="javascript" src="static/scripts/FOOTER.js"></script>


</HTML>