<HTML>
<TITLE>About & FAQ</TITLE>
<head>
<script language="javascript" src="static/scripts/HEADER.js"></script>
</head>

<body style="background-color:#F7F7F7;">


<TABLE WIDTH=\"80%\" CELLPADDING="10" CELLSPACING="10" ALIGN="CENTER">
	<TR>
	<TD><IMG SRC="static\images\AboutUs.jpg" WIDTH="512" HEIGHT="233"/>
	</TD></TR>
</TABLE>


<DIV ALIGN="CENTER">

<TABLE WIDTH="75%" style="border-collapse: collapse" bordercolor="#ff0000" cellpadding="0" cellspacing="0">
  <TR>
    <td width="100%">
    <UL>
      <li><B>About Us</B></li>
    </UL>
    <p style="margin-left: 50"> Database fashion is an exclusive clothing store that strives to be the best place to purchase online clothes for your needs.</P>
    </p>
    <p style="margin-left: 50"> If you have any questions make sure to visit our FAQ page.</P>
    </p>
    <UL>
      <li><a href="/faq">FAQ</a></br></li>
    </UL>
    </td>
  </TR>
</table>

</div>

</body>

<script language="javascript" src="footer.js"></script>

</HTML>